@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald);
@import url(../fonts/showcaseicon.css);
@import url(../fancybox/jquery.fancybox.css);
@import url(jquery-ui-dialog.css);

html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
.wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0px 0px 60px 0px;
	background-color: #444444;
}
header {
	position: relative;
	width: auto;
	min-height: 100px;
	background-color: #444444;
	padding:0 2%;
}
header div.logo {
	width: auto;
	line-height: 0;
	float:left;
}
header div.logo a {
	display: block;
	width: 203px;
	margin: 0px;
}
header nav {
	display: none;
	width:100%;
	text-align: center;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 0px;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a,
header nav ul li a:visited {
	display: block;
	min-width: 30px;
	height: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #CCCCCB;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 10px 8px 10px;
}
header nav ul li.active {
	background-color: #3FA1A1;
}
nav.mobile-nav {
	display: none;
	width:100%;
	text-align: center;
	margin-bottom: 16px;
	float: left;
	clear: both;
}
nav.mobile-nav ul li {
	display: block;
}
nav.mobile-nav ul li a,
nav.mobile-nav ul li a:visited {
	text-align: left;
}
div.mobile-nav {
	float: right;
	margin-top: 28px;
}
div.mobile-nav button {
	padding: 9px 10px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}
div.mobile-nav button:hover {
	background:rgba(0,0,0,.25);
}
div.mobile-nav button:focus {
	outline: none;
}
div.mobile-nav button .icon-bar {
	display: block;
	width: 26px;
	height: 5px;
	border-radius: 1px;
	background-color: #3FA1A1;
	margin-bottom: 3px;
}
div.mobile-nav button .icon-bar:last-child {
	margin-bottom: 0px;
}
.showcase-container .grid {
	width:100%;
	position: relative;
	cursor: pointer;
}
.showcase-container .grid img {
	display: block;
	border: 0;
	width:100%;
	height:100%;
}
.showcase-container .grid.active .overlay {
	height: 100%;
	background:rgba(68,68,68,0.9);
}
.showcase-container .grid.active .overlay .title,
.showcase-container .grid.active .overlay .icon {
	margin-top:200px;
}
.overlay {
	position: absolute;
	width: 100%;
	background:rgba(68,68,68,0.8);
	bottom:0;
	left: 0;
	z-index: 99;
}
.overlay .title {
	display: inline-block;
	width: 74%;
	font-family:'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 30px;
	line-height: 1.3;
	color:#3FA1A1;
	padding: 2% 3%;
}
.overlay .title:first-line {
	color:#fff;
}
.overlay .icon {
	position: absolute;
	display: inline-block;
	width: 17%;
	padding: 4% 3% 0% 0%;
	text-align: right;
	font-size: 44px;
}
footer {
	width: auto;
	height: 25px;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color:#FFFFFF;
	background-color: #444444;
	text-transform: uppercase;
	padding:15px 20px 20px 20px;
	clear: both;
}

/* tablet */
@media screen and (min-width: 45em) {
	
	.wrapper {
		padding: 0px;
	}
	
	header div.logo {
		width: 30%;
		line-height: 0;
		float:left;
	}
	header div.logo a {
		display: block;
		width: 203px;
		margin: 0px;
	}
	header nav {
		display: block;
		padding-top:0px;
		width:70%;
		text-align: right;
		float: left;
	}
	header nav ul {
		margin: 0;
		padding: 30px 0px 0px 0px;
		list-style: none;
		line-height: 0px;
	}
	header nav ul li a,
	header nav ul li a:visited {
		padding: 10px 7px 8px 7px;
	}
	div.mobile-nav {
		display: none;
	}
	nav.mobile-nav {
		display: none;
	}
	.showcase-container {
		float: left;
		clear: both;
	}
	.showcase-container .grid {
		width:50%;
		float:left;
	}
	.showcase-container .grid.active .overlay .title,
	.showcase-container .grid.active .overlay .icon {
		margin-top:95px;
	}
	.overlay .title {
		width: 74%;
		font-size: 28px;
		padding: 2% 3%;
	}
	.overlay .icon {
		width: 17%;
		font-size: 44px;
		padding: 5% 3% 0% 0%;
	}
}

/* desktop */
@media screen and (min-width: 63.75em) {
	
	.showcase-container .grid {
		width:33.33%;
	}
	header div.logo {
		width: 30%;
		float: left;
	}
	header div.logo a {
		margin: 0;
	}
	header nav li {
		display: inline-block;
	}
	header nav ul li a,
	header nav ul li a:visited {
		padding: 10px 15px 8px 15px;;
	}
	header button.mobile-btn {
		display: none;
	}
	.showcase-container .grid {
		width:33.33%;
		float:left;
	}
	.showcase-container .grid.active .overlay .title,
	.showcase-container .grid.active .overlay .icon {
		margin-top:75px;
	}
	.overlay .title {
		width: 74%;
		font-size: 26px;
		padding: 2% 3%;
	}
	.overlay .icon {
		width: 17%;
		font-size: 44px;
		padding: 4.5% 3% 0% 0%;
	}
	
}

/* big desktop */
@media screen and (min-width: 76.25em) {
	
	header nav ul li a:hover {
		background-color: #4ab4b4;
	}
	
	.showcase-container .grid {
		width:25%;
	}
	.overlay .title {
		width: 74%;
		font-size: 24px;
		padding: 2% 3%;
	}
	.overlay .icon {
		width: 17%;
		font-size: 40px;
		padding: 5% 3% 0% 0%;
	}
	
}

/* big big desktop */
@media screen and (min-width: 90.625em) {

	.showcase-container .grid {
		width:20%;
	}
	.overlay .title {
		width: 74%;
		font-size: 22px;
		padding: 2% 3%;
	}
	.overlay .icon {
		width: 17%;
		font-size: 38px;
		padding: 4.5% 3% 0% 0%;
	}
	
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}